
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>{{@username}}</h3>
    <form action="#" method="post">
        <label>Pet name<input type ="text" name = "petname"></label>
        <label>Pet color

            <label for="pet-color">Pet Color</label>
            <check if="{{ isset(@errors['color']) }}">
                <p>{{ @errors['color'] }}</p>
            </check>
            <select name="pet-color" id="pet-color">
                <option>--Select--</option>

                <repeat group="{{ @colors }}" value="{{ @color }}">
                    <option>
                        <check if="{{ @colorOption == color }}">
                            Selected
                        </check>
                        {{ @colorOption }}
                    </option>
                </repeat>
            </select>
        </label>
        <label>Pet type<input type ="text" name = "petname"></label>
        <br>
        <input type="submit" value="Submit">
    </form>

    <check if="{{  @success }}">
        <h2>Thank you for your order of a {{ @type }}!</h2>
    </check>
</body>
</html>