<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <label>Pet name <input type ="text" value="{{@pname}}" name = "pname"></label>
            <label for="pcolor">Pet Color</label>
            <select name="pcolor" id="pcolor">
                <option value="">--Select--</option>

                <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                    <option
                        <check if="{{ @colorOption == @color }}">
                        selected</check>>
                        {{ @colorOption }}
                    </option>
                </repeat>
            </select>

        <label>Pet type<input type ="text" name = "ptype" value="{{@ptype}}"></label>
        <br>
        <input type="submit" name="submit" value="submit">
    </form>

    <check if="{{ isset(@errors['pname']) }}">
        <p style="color: red">{{ @errors['pname'] }}</p>
    </check>


    <check if="{{ isset(@errors['ptype']) }}">
        <p style="color: red">{{ @errors['ptype'] }}</p>
    </check>

    <check if="{{ isset(@errors['color']) }}">
        <p style="color: red">{{ @errors['color'] }}</p>
    </check>

    <check if="{{ @success }}">
        <h2 style="color: {{@color}}">Thank you for your order of a {{@color}} {{ @ptype }}!</h2>
    </check>

</body>
</html>